<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alphadominche.steampunkhmi"
    android:versionCode="98"
    android:versionName="2.0.0_158" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />
    <!-- <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/> -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <permission
        android:name="com.alphadominche.STEAM_PUNK_CONTROL"
        android:label="flow_meter_permission" >
    </permission>

    <uses-permission android:name="com.alphadominche.STEAM_PUNK_CONTROL" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ad_mincher_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<uses-library android:name="com.android.future.usb.accessory" android:required="false" android:protectionLevel="normal" />
        
        <service
            android:name="com.alphadominche.steampunkhmi.SPIOIOService"
            android:exported="false" >

            <!--
            <intent-filter>
	            <action android:name="com.alphadominche.steampunkhmi.SP_IOIO_SERVICE_INTENT" />
	        </intent-filter>
            -->
            <intent-filter>
                <action android:name="START_SPIOIO_SERVICE" />
                <action android:name="CRUCIBLE_COMMAND" />
                <action android:name="MACHINE_COMMAND" />
                <action android:name="MANUAL_MODE_COMMAND" />
            </intent-filter>
        </service>
        
        <service
	        android:name=".SPUpdateService"
	        android:label="Update Service" >
	    </service>
        
        <activity
            android:name="com.alphadominche.steampunkhmi.SPCruciblesActivity"
            android:label="@string/home_crucibles_title_text"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <receiver
            android:name="com.alphadominche.steampunkhmi.SPServiceReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="com.alphadominche.STEAMPUNK_CONTROL" >
            <intent-filter>
                <action android:name="CRUCIBLE_STATUS" />
                <action android:name="BOILER_STATUS" />
                <action android:name="MACHINE_SETTINGS_STATUS" />
                <action android:name="MACHINE_SETTINGS_REQUEST" />
                <action android:name="STEAMPUNK_ERROR_BROADCAST" />
                <action android:name="RELEASE_STEAM_BROADCAST" />
                <action android:name="IOIO_CONNECTED_BROADCAST" />
                <action android:name="NETWORK_CONNECTED_BROADCAST" />
                <action android:name="NETWORK_NOT_CONNECTED_BROADCAST" />
                </intent-filter>
        </receiver>
        
        <receiver 
            android:name="com.alphadominche.steampunkhmi.SPPowerPlugReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alphadominche.steampunkhmi.SPLibraryActivity"
            android:label="@string/library_title_text"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
            
            <meta-data android:name="android.app.searchable"
            android:resource="@xml/searchable" />
            <intent-filter>
        		<action android:name="android.intent.action.SEARCH" />
    		</intent-filter>
        </activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPRecipeEditorActivity"
            android:label="@string/title_activity_tea_recipe_editor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPActivity"
            android:label="@string/title_activity_spactivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.MainMenuMockup"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_main_menu_mockup"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
		<activity
            android:name="com.alphadominche.steampunkhmi.SPMachineSettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/machine_settings_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
		</activity>
		<activity
            android:name="com.alphadominche.steampunkhmi.SPAccountSettingsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/account_settings_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
		</activity>
		<activity
            android:name="com.alphadominche.steampunkhmi.SPPrivacySettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/privacy_settings_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
		</activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPTermsActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/terms_and_policies_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPLoginActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
            <!-- <intent-filter> -->
                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
		<activity
            android:name="com.alphadominche.steampunkhmi.SPCleaningCycleActivity"
            android:label="@string/cleaning_cycle_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
		</activity>
		<activity
            android:name="com.alphadominche.steampunkhmi.SPCleaningCycleSettingsActivity"
            android:label="@string/cleaning_cycle_settings_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
		</activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPFavoritesActivity"
            android:label="@string/favorites_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPMyRecipesActivity"
            android:label="@string/my_recipes_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:name="com.alphadominche.steampunkhmi.SPSwitchboardActivity"
            android:label="@string/switchboard_title_text"
            android:screenOrientation="sensorPortrait"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <service android:name="com.alphadominche.steampunkhmi.restclient.presistenceservice.PersistenceService" android:enabled="true" android:exported="false"></service>
		<provider android:name="com.alphadominche.steampunkhmi.contentprovider.Provider" 
		    android:authorities="com.alphadominche.steampunkhmi.provider.HomeActivity" 
		    android:exported="false">
		</provider>
	</application>

</manifest>